extends layout

block content
	h1 Show Dates
	h4 To allow sellers to sell tickets, uncheck the "Hidden" box.
	p#responseMessage #{formResult}
	form#formAdminPanel(name="updateshows",method="post",action="/updateshows")
		- var dateFormatter = function(showDate){
		-	var returnDate = new Date(showDate).toLocaleString();
		-	return returnDate;
		- }
		each show, i in showEntries
			p
				| Show date: #{dateFormatter(show.date)}
				br
				| Hidden: 
				input(type='checkbox', name='acceptingTickets-#{show.date}', checked=show.acceptingTickets)
				br
				| Tickets Available:
				input(type='number', placeholder='250', name='tixAvail-#{show.date}', value=show.tixAvail)
				br
				| Show has sold #{show.tixSold} tickets.
		p
			button#btnSubmit(type="submit") Update