extends layout

block content
	h1 Show Dates
	h4 To enable sales for a show, uncheck the show's checkbox and then press the "Update" button.
	h4 To disable sales for a show, check the show's checkbox and then press the "Update" button.
	p#responseMessage #{formResult}
	form#formAdminPanel(name="updateshows",method="post",action="/updateshows")
		each show, i in showEntries
			p
				| Show date: #{show.date}
				br
				| Hidden: 
				input(type='checkbox', name='acceptingTickets-#{show.date}', checked=show.acceptingTickets)
				br
				| Tickets Available:
				input(type='number', placeholder='250', name='tixAvail-#{show.date}', value=show.tixAvail)
				br
				| Show has sold #{show.tixSold} tickets.
		p
			button#btnSubmit(type="submit") Update