extends layout

block content
	h1 Venmo Sales
	p#responseMessage #{formResult}
	form#formVenmoCharge(name="chargecustomer",method="post",action="/chargecustomer")
		input#inputUserFirstName(type="text", placeholder="First Name", name="firstname")
		input#inputUserLastName(type="text", placeholder="Last Name", name="lastname")
		input#inputUserPhone(type="tel", placeholder="(123) 456-789", name="telephone")
		select#selectAmount(name='amount')
			option(value='', disabled=true, selected=true) Select an amount
			option(value='10.00') $10
			option(value='12.00') $12
			option(value='15.00') $15
		- var dateFormatter = function(showDate){
		-	var returnDate = new Date(showDate).toLocaleString();
		-	return returnDate;
		- }
		select#selectShow(name='show')
			option(value='', disabled=true, selected=true) Select a show
				each show, i in showEntries
					option(value=show.date, disabled=show.acceptingTickets) #{dateFormatter(show.date)}
		button#btnSubmit(type="submit") Send Charge
	h1 Cash Sales
	form#formAddUser(name="chargecustomer",method="post",action="/chargecustomer")
		select#selectShow(name='show')
			option(value='', disabled=true, selected=true) Select a show
				each show, i in showEntries
					option(value=show.date, disabled=show.acceptingTickets) #{dateFormatter(show.date)}
		button#btnSubmit(type="submit") Cash Sale