extends layout

block content
	h1.
		Ticket List
	ul
		- var dateFormatter = function(showDate){
		-	var returnDate = new Date(showDate).toLocaleString();
		-	return returnDate;
		- }
		each ticket, i in ticketlist
			li
				| Name: #{ticket.firstname}  #{ticket.lastname}
				br
				| Show: #{dateFormatter(ticket.showDate)}
				br 
				| Phone: #{ticket.phone} 
				br
				| Status: #{ticket.status}